#main-container{
display: flex;
flex-direction: column;
height: 100vh;
background-color:rgba(245, 40, 145, 0.1)  ;

align-items: center;


}




body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
  
}
#user img{
width: 2.5vw;
height: auto;
cursor: pointer;

}

#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:  #e4049c;
    align-items: center;
    height: 8vh;
    width: 100vw


 
  
}


#navbar button{
    width: 10vw;
    height: 6vh;
    border-radius: 1.25em;
    border-color: transparent;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.2em;
    text-align: center;
    font-weight: bolder;
    background-size: 1vw;
    align-self: center;
    cursor: pointer;
    
}
#navbar button:hover{
   
    background-color:rgba(0, 0, 0, 0.2)
    }
    #container-img img{
        width: 10vw;
        height: auto ;
        padding-top: 3%;
        }



#search-bar input{
    width: 40vw;
    height: 3.5vh;
    border-radius: 10vh;
    border-color: transparent;
    padding-left: 2%;
    background-image: url('icons8-búsqueda-30.png');
    background-position: right 1vw center;
    background-repeat: no-repeat;
    background-size: 4% auto;
    font-size: 1vw;

}


#search-bar input:hover{
   border-radius: 0%;
   border-color: black;

}


#buy button{
   

    border-color: transparent;
    background-image: url('icons8-casa-20.png');
    background-position: left 1vh center;
    background-repeat: no-repeat;
 

   
}
#departments button{
   

    border-color: transparent;
    background-image: url('icons8-cuadrado-20.png');
    background-position: left  center;
    background-repeat: no-repeat;

   
}
#services button{
   

    border-color: transparent;
    background-image: url("icons8-menú-en-círculos-20\ \(1\).png");
    background-position: left 1vh center;
    background-repeat: no-repeat;


   
}
  
  #top{
    display: flex;
    justify-content: center;
  }
#mid{

display: flex;
flex-direction: row;
gap: 2vw;
justify-content: center;
}

#mid div{
 border-color: transparent;
 background-color: #e4049c;
 width: 26vw;
 height: 40vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-around;
 border-radius: 10%;

 
}

#mid img{
    width: 18vw;
    height: auto;
    

}

#mid button{
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
    
}

#mid button:hover{
    background-color: rgba(0, 0, 0, 0.3);
}
#nav-bar, #top, #mid{
    margin: 2em;
}
#footer{
    margin-top: auto;
    background-color:  #e4049c;
    height: 7vh;
    width: 100vw;
    align-items: center;


}
#footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    
}
#top{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50vw;
    height: 15vh;
    text-decoration: underline;

}

#top p{
font-size: large;
margin: 0;
font-size: 2vh;
}
